<div class="container p-4">
    <div class="row">
        {{#each links}}
           <div class="col-md-3 p-4" >
               <div class="card text-center">
                  <div class="card-bady p-2" >
                      <a href="{{url}}" target="blank">
                          <h3>{{title}}</h3>
                      </a>
                      <p class="m-2">{{description}}</p>
                      <p>{{timeago create_at}}</p>
                      <a href="/links/delete/{{id}}" class="btn btn-danger p-2">Delete Links</a>
                      <a href="/links/edit/{{id}}" class="btn btn-secondary p-2">Edit</a>
                  </div> 
               </div>
           </div>
           {{else}}
           <div class="col-md-4 mx-auto">
               <div class="card card-bady text-center">
                <p>There are not links saved yet. </p>
                <a href="/links/add">Create One!!</a>
               </div>
           </div>
        {{/each}}
    </div>
</div>